.Box{
    position: fixed;
    top: 40vh;
    min-width: 100%;
    min-height: 100%;
    /*background-image: url("../slanted-gradient.svg");*/
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(129, 129, 129, 0.13);
    border-radius: 15px 15px 0px 0px;
}