.FakeNavBar{
    z-index: 999;
    position: fixed;
    top: 0;
    min-width: 100vw;
    min-height: 7.365vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.83);
    display: flex;
    justify-content: space-between;
    align-items: center;
}