.NavBar{
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #222831;
}



.NavBar-header{

    color: #d3d3d3;
    padding: 7px;
    text-align: left;
    font-size: 30px;
    font-family: azonix;

}

@font-face {
    font-family: azonix;
    src: url("../fonts/Azonix.otf");
}